.video-grid-item {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
  }
  .title-link {
    color: black;
    text-decoration: none;
  }
  h3 {
    margin: 10px 0 0;
  }
  p {
    margin: 10px 0 0;
  }
  .duration {
    background-color: rgba(0,0,0,0.8);
    margin-left: auto;
    color: white;
    margin-top: -26px;
    padding: 2px 5px;
  }
}
