@import "partials/fonts",
        "partials/normalize",
        "partials/App",
        "partials/classes",
        "partials/MainNav/MainNav",
        "partials/MainNav/SearchBar",
        "partials/SideBar/SideBar",
        "partials/SideBar/List",
        "partials/SideBar/ListItem",
        "partials/Channel/ChannelScreen";


html {
  height: 100%;
}

body {
  height: 100%;
}

body * {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.sidebarAndNav {
  display: flex;
  flex: 1;
  position: relative;
}
