.main-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: .25);
  border-bottom: 1px solid #DDD;
  z-index: 1;
  .sidebar-toggle {
    font-size: 24px;
  }
  .brand-img {
    margin: 0 auto 0 10px;
  }
  .search-bar {
    order: 3;
    width: 100%;
  }
  .profile-img {
    display: none;
  }
  .sign-out {
    text-decoration: none;
    color: #888;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
  }
}

@media(min-width: 768px) {
  .main-nav {
    position: relative;
    .search-bar {
      max-width: 400px;
      order: 2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-70%);
    }
    .sign-out {
      order: 3;
    }
  }
}
