.video-result-list-item {
  margin-bottom: 40px;
  img {
    width: 100%;
  }
  .title-link {
    color: black;
    text-decoration: none;
  }
  h3 {
    margin: 10px 0 0;
  }
  p {
    margin: 10px 0 0;
  }
  .video-search-description {
    display: none;
  }
  .channel-title-link {
    color: black;
    text-decoration: none;
  }
  .thumbnail {
    display: flex;
    flex-direction: column;
  }
  .duration {
    background-color: rgba(0,0,0,0.8);
    margin-left: auto;
    color: white;
    margin-top: -26px;
    padding: 2px 5px;
  }
}

@media(min-width: 768px) {
  .video-result-list-item {
    display: flex;
    img {
      width: 300px;
    }
    .thumbnail {
      margin-right: 10px;
    }
    h3 {
      margin: 0;
    }
    .video-search-description {
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      max-height: 2.4em;
      white-space: pre-line;
      line-height: 1.2em;
      word-break: break-all;
      color: #555;
    }
  }
}
